* {
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background:url(./images/backBooze.jpg);
    background-color: grey;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: white;
    width: 100vw;
    gap: 2em;
}



nav {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100vw; 
}

button {
    width: 6rem;
    height: 2rem;
    border-radius: 7px;
    /* border: 0; */
    background-color: white;
    border: 0;  
    border-bottom: 2px solid grey;
    
}

button:hover {
    cursor: pointer;
    border-radius: 50px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
  
}
[class*='content'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
}
[class*='content']>h1, [class*='content']>h2, [class*='content']>h3 {
    color: white;
}

h2, h3 {
    color: white;
}

[class*='mainC'],[class*='menuC'], [class*='aboutC'],[class*='locationC']   {
    text-align: center;
    
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

 
}

[class*='mainC']>div>p {
    display:flex;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 12px;
    justify-self: center;
    align-self: center;
    padding: 2px;
    width: 25vw;
    min-width: 300px;
    border: 5px solid white;
    
}
[class*='mainC']>[class*='para'] {
    display: flex;
}


[class*='mainC']>img {
    height: 200px;
    max-width: 276px;
    width: auto;
    border-radius: 25px;
    border: 5px solid white;
    justify-items: end;
}

[class*='mainC']>img:first-of-type, [class*='mainC']>img:last-of-type {
    display:flex;
    height: 400px;
    width: auto;
    border-radius: 25px;
}


[class*='content']>.footer>p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    border: 0px;
    color: white;
    font-weight: bold;
} 

[class*='menuC']>img {
    height: 200px;
    max-width: 276px;
    width: auto;
    border-radius: 25px;
    border: 5px solid white;
    justify-items: end;
}

[class*='aboutC']>div>p, [class*='menuC']>div>p {
    display:flex;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 12px;

    justify-self: center;
    align-self: center;
    padding: 2px;
    width: 286px;
    min-width: 276px;
    border: 5px solid white;
    
}
[class*='locationC']>div>p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}

[class*='locationC']>img {
    border: 5px solid white;
    max-height: 60vh;
    width: auto;
    max-width: 85vw;
}